table {
    width: 100%;
    height: 500px;
}
html {
    background-color: greenyellow;
}
td {
    height: 50px;
    width: 50px;
    text-align: center;
    align-content: center;
}
.ships{
    background-image: url("ship.jpg");
}
.salvos{
    background-image: url("splash.jpg");
}
.hit{
   background-image: url("fire.jpg");
}
html{
    background-color: black;
}
body{
    background-image: url("ocean.png");
}
#shipconten{
    /*-webkit-transform: rotate(90deg);*/
}
#tablas{
    display: flex;
}
#des{
    border-radius: 10px;
    /*-webkit-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
}
.aircraft{
    background-image: url("ss.jpg");
}
.battleship{
    background-image: url("bs.png");
}
.submarine{
    background-image: url("sub.jpg");
}
.destroyer{
    background-image: url("des.jpg");
}
.patrolboat{
    background-image: url("pb.jpg");
}
