table {
    width: 100%;
    height: 500px;
}
html {
    background-color: greenyellow;
}
td {
    height: 50px;
    width: 50px;
    text-align: center;
    align-content: center;
}
.ships{
    background-color: blue;
}
.salvos{
    background-color: black;
}
.hit{
    background-color: red;
}
/*.gamesHtml{*/
    /*background-image: url("a.jpg");*/
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
/*}*/