body{
    background-image: url("a.jpg");
}
button{
    margin: 30px auto;
}
input{
    width: 30px;
    height: 10px;
}
#gamesHtml{
    display: none;
}
h2{
    color: white;
    text-align: center;
    size: 100px;
}
p {
    color: white;
}
table{
    text-decoration-color: white;
}
li {
    color: white;
}
.form-control {
    width: 25%;
}
form{
    margin-left: 15px;
}
a{
    background-color: orange;
    border-radius: 10%;
}